[submodule "patina-qemu"]
	path = mod/uefi/patina-qemu
	url = https://github.com/OpenDevicePartnership/patina-qemu.git
[submodule "odp-secure-services"]
	path = mod/secure-services/odp-secure-services
	url = https://github.com/dymk/odp-secure-services.git
	# TODO: restore to OpenDevicePartnership URL before merging upstream (Pre-upstream-PR checklist item #1)
[submodule "odp-embedded-controller"]
	path = mod/ec
	url = https://github.com/OpenDevicePartnership/odp-embedded-controller.git
